:root {
  --size: 600px;
}

#calculator {
  display: flex;
  flex-direction: column;  /* stack top display + bottom row */
  width: var(--size);
  height: var(--size);
  background-color: black;
  padding: 10px;
  box-sizing: border-box;
}

#display {
  height: 20%;
  background-color: grey;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Digital-7', 'Courier New', monospace;
  font-size: 2em;
}

#bottom {
  display: flex;
  height:80%;
  flex: 1;
  align-items: flex-end;
}

.button-container.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  height: 98%;
  width: 80%;
  background-color: gray;padding : 5px;

}

.button-container.operators {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 20%;
  height: 98%;
  background-color: darkgray;
  padding : 5px;
}
.button{
  padding: calc(var(--size) / 14);

}