.game-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.name,
.btn-play-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boards-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#player-board,
#computer-board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 2px;
  border: solid 1px black;
  padding: 50px;

}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  background: lightblue;
  cursor: pointer;
}

.cell.miss {
  background: white;
}

.cell.ship {
  background: black;
}
.cell.hit {
  background: red;
}

.name {
  padding: 5px 10px;
}

.btn_play {
  padding: 8px 20px;
  cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
}

.winPopUp {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
  background-color: red;
  color: white;
  border: 3px solid #333;
  
  padding: 40px 60px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  
  z-index: 9999;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}