<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BattleShip</title>
    <link rel="stylesheet" href="../styles/style.css">

</head>

<body>

<div class="game-container">
    
    <div class="name-container">
        <div class="name">
            <input class="player-name" value = "sewsi" placeholder="Your name">
        </div>
        
        <div class="btn-play-div">
             <button class="btn_play">Play</button>
        </div>
        
        <div class="name"> 
            <input class="computer-name" value="computer">
        </div>
    </div>
    
    <div class="boards-container">
        <div id="player-board" class="board">

        </div>
        <div id="computer-board" class="board">

        </div>
    </div>
    
</div>

<script type="module" src="../app/battleShip_dom.js"></script>

</body>

</html>